In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('mlb-player-stats-Batters.csv')

In [3]:
print(df.head())

              Player Team Pos  Age    G   AB    R    H  2B  3B  ...  CS  BB  \
0      Marcus Semien  TEX  2B   32  161  657  101  163  31   5  ...   8  53
1        Trea Turner  LAD  SS   29  160  652  101  194  39   4  ...   3  45
2        Bo Bichette  TOR  SS   25  159  652   91  189  43   1  ...   8  41
3     Dansby Swanson  ATL  SS   29  162  640   99  177  32   1  ...   7  49
4  Vladimir Guerrero  TOR  1B   23  160  638   90  175  35   0  ...   3  58

    SO  SH  SF  HBP    AVG    OBP    SLG    OPS
0  120   0  10    4  0.248  0.304  0.429  0.733
1  131   0   6    3  0.298  0.343  0.466  0.809
2  155   0   2    2  0.290  0.333  0.469  0.802
3  182   0   4    3  0.277  0.329  0.447  0.776
4  116   0   4    6  0.274  0.339  0.480  0.819

[5 rows x 23 columns]

In [4]:
df.shape

(772, 23)

In [5]:
df.describe()

,Age,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,SH,SF,HBP,AVG,OBP,SLG,OPS
count,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000
mean,28.531088,64.993523,211.733161,26.963731,51.392487,10.284974,0.832902,6.755181,25.761658,3.220207,1.050518,19.237047,52.858808,0.505181,1.585492,2.650259,0.212724,0.280263,0.335256,0.615519
std,3.623002,50.140153,185.876167,26.776371,49.424287,10.692453,1.322971,8.497404,26.777997,5.556987,1.732062,20.015999,44.784071,1.280898,1.962475,3.579298,0.078362,0.087147,0.147922,0.221236
min,21.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,26.000000,17.000000,42.750000,4.000000,8.000000,1.000000,0.000000,0.000000,3.000000,0.000000,0.000000,3.000000,12.000000,0.000000,0.000000,0.000000,0.182000,0.250750,0.271000,0.538250
50%,28.000000,54.000000,160.000000,18.000000,36.000000,7.000000,0.000000,4.000000,16.500000,1.000000,0.000000,12.000000,44.000000,0.000000,1.000000,1.000000,0.227500,0.294000,0.357000,0.650000
75%,31.000000,110.000000,357.250000,44.000000,85.250000,17.000000,1.000000,10.000000,42.000000,4.000000,2.000000,30.000000,85.000000,0.000000,3.000000,4.000000,0.256000,0.326250,0.414000,0.736000
max,43.000000,162.000000,657.000000,133.000000,199.000000,47.000000,9.000000,62.000000,131.000000,41.000000,12.000000,111.000000,200.000000,12.000000,10.000000,28.000000,0.750000,0.750000,2.000000,2.500000